/* scss/_config.scss */
$main: #3AB649;
$sub:  #b57322;

$bp-sp: 600px;
$bp-tab: 820px;
$bp-pc: 1120px;

@mixin sp  { @media (max-width: $bp-sp)  { @content; } }
@mixin tab { @media (max-width: $bp-tab) { @content; } }
@mixin pc  { @media (max-width: $bp-pc)  { @content; } }