@use "config";
@use "subpage";

$main: #22B573;
$sub: #b57322;

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}


/* =================================
header
 ================================= */
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: transform 0.3s;
  background-color: #fff;
  border-bottom: #e9e9e9 2px solid;

  &.is-hide {
    transform: translateY(-100%);
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0 0 0 12px;

    @include pc {
      padding: 8px 12px 6px;
    }

    @include tab {
      justify-content: space-between;
      padding: 8px 12px 6px;
    }
  }

  &__ttl-wrap {
    max-width: 200px;
    padding: 12px 0;

    @include pc {
      max-width: 140px;
      padding: 0;

    }
  }


  &__menu-tel {
    width: 200px;
    border: $main 2px solid;
    padding: 2px;
    border-radius: 40px;
    text-align: center;
    font-size: 20px;

    @include pc {
      display: none;
    }
  }



  &__menu-wrap {
    margin-left: auto;

    @include pc {
      display: none;
    }
  }

  &__menu-inner {
    display: flex;
    gap: 24px;

    @include pc {
      gap: 12px;
    }
  }

  &__menu {
    font-weight: 700;
    position: relative;

    &.active {
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        width: 90%;
        /* 線の長さを調整 */
        height: 4px;
        /* 線の太さ */
        background-color: $main;
        /* 線の色 */
      }
    }


  }



  &__right-menu-wrap {
    display: flex;
    gap: 24px;
    align-items: center;

    @include pc {
      display: none;
    }
  }


  &__right-menu-contact {
    background-color: $main;
    color: #fff;
    padding: 10px;
    width: 160px;
    height: 74px;
    display: grid;
    place-items: center;
    /* 横・縦をまとめて中央に */
    text-align: center;

    @include pc {
      display: none;
    }
  }


  &__btn-wrap {
    display: none;

    @include pc {
      display: block;
      cursor: pointer;
      z-index: 99;
      top: 14px;
      right: 12px;
      position: absolute;
      width: 24px;
    }
  }
}

.header-sp {
  opacity: 0;
  transition: all 0.3s;
  transform: translate(100%, 0);
  z-index: 101;
  position: fixed;
  top: -4px;
  right: 0;
  padding: 80px 12px 0 40px;
  background-color: #fff;
  height: 100vh;
  width: 80%;
  overflow-y: scroll;
  scrollbar-width: none;


  &.active {
    opacity: 1;
    transition: all 0.3s;
    transform: translate(0, 3px);
    z-index: 100;
  }

  &__btn-img {
    width: 24px;
    display: block;
    cursor: pointer;
    z-index: 99;
    top: 14px;
    right: 12px;
    position: absolute;
  }

  &__menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__menu-item {
    &--margin {
      margin: 0 0 24px;
    }
  }

}


/* =================================
メインビジュアル
 ================================= */

.main-visual {
  position: relative;
  padding: 24px;

  @include tab {
    padding: 0;
  }

  &__img {
    aspect-ratio: 7 / 3;
    width: 100%;
    position: relative;
    overflow: hidden;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* 枠いっぱいにトリミング */
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__lead-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.7);
    border: $main 1px solid;

    @include pc {
      width: 700px;
    }

    @include tab {
      position: static;
      margin: 40px auto;
      transform: translate(0, 0);
      max-width: 95%;
      margin: 24px auto;

    }
  }



  &__lead {
    font-family: "游明朝", "Yu Mincho", "Hiragino Mincho ProN", "MS PMincho", serif;
    text-align: center;
    font-size: 34px;
    margin: 12px 0 0;
    line-height: 1.4;
    font-weight: bold;

    @include tab {
      font-size: 20px;
    }
  }

}


/* =================================
お知らせ
 ================================= */

.top-info {
  padding: 40px 12px 80px;

  @include tab {
    padding: 40px 12px;
  }

  &__inner {
    max-width: 1120px;
    margin: 32px auto 0;
    padding: 0 12px;
    max-width: 800px;
    background-color: #fff;
    padding: 40px 60px;


    @include tab {
      padding: 32px 16px;

    }
  }

  &__btn {
    display: block;
    border: $main 3px solid;
    background-color: #fff;
    padding: 10px;
    border-radius: 24px;
    width: 200px;
    text-align: center;
    margin: 40px auto 0;
  }


  &__article {
    border-bottom: #b6b6b6 1px solid;
    padding: 18px 44px 18px 4px;
    position: relative;

    &::after {
      content: url(../img/top/item-arrow.png);
      position: absolute;
      right: -12px;
      top: 54%;
      transform: translateY(-50%)scale(0.7);
    }

    &:first-of-type {
      border-top: #b6b6b6 1px solid;
    }

    @include tab {
      padding: 12px 44px 12px 4px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 12px;

    @include tab {
      flex-wrap: wrap;
      gap: 8px;

    }
  }

  &__cat {
    width: 80px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: $sub;
  }

  &__date {
    font-size: 12px;
    white-space: nowrap;

  }

  &__ttl {
    flex: 1;
    line-height: 1.2;

    @include tab {
      flex: none;
      width: 100%;
    }
  }

  &__arrow {
    margin-left: auto;
    width: 24px;

  }
}

/* =================================
メニュー
 ================================= */

.top-menu {
  padding: 80px 12px 120px;

  @include tab {
    padding: 40px 12px 80px;
  }


  &__inner {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    gap: 40px;

    @include tab {
      flex-direction: column;
      align-items: center;
      gap: 80px;

    }
  }

  &__item {
    width: calc((100% - 80px) / 3);
    position: relative;

    &::after {
      content: url(../img/top/item-arrow.png);
      position: absolute;
      bottom: -64px;
      left: 50%;
      transform: translateX(-50%)scale(0.8);

      @include tab {
        bottom: -54px;
      }
    }

    @include tab {
      width: 100%;
      max-width: 300px;
    }
  }

  &__img {
    aspect-ratio: 7 / 5;
    /* ← 横7：縦5の比率に固定 */
    overflow: hidden;
    /* はみ出した部分を非表示 */

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* 中央でトリミング */
      object-position: center;
      /* 中央基準 */
      display: block;
    }


  }
}

/* =================================
お問い合わせ
 ================================= */

.top-contact {
  padding: 60px 12px 80px;

  @include tab {
    padding: 40px 12px;
  }


  &__inner {
    background-color: #fff;
    max-width: 800px;
    margin: 40px auto 0;
    padding: 0 80px;

    @include tab {
      padding: 0 4px;
    }

  }

  &__ttl {
    margin-right: auto;

    @include tab {
      margin: 0 auto;
    }
  }

  &__item {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 24px 8px;

    &:first-of-type {
      border-bottom: #b6b6b6 1px solid;
    }

    @include tab {
      flex-direction: column;

    }
  }

  &__icon {
    width: 30px;
    display: inline-block;
    margin: 0 12px 0 0;

    &--tel {
      width: 24px;
    }

    @include tab {
      width: 24px;
      display: inline-block;
      margin: 0 8px 0 0;
    }
  }

  &__text {
    white-space: nowrap;

  }

  &__tel {
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;

    @include tab {
      margin-right: auto;
      text-align: center;
    }
  }

  &__btn {
    background-color: #22B573;
    color: #fff;
    padding: 10px;
    border-radius: 24px;
    width: 160px;
    text-align: center;
    display: block;
    margin-left: auto;

    @include tab {
      margin-right: auto;

    }
  }
}


/* =================================
footer
 ================================= */

.footer {
  position: relative;
  border-top: #e9e9e9 2px solid;

  &__inner {
    padding: 40px 12px;
    max-width: 720px;
    margin: 0 auto;

    @include tab {
      max-width: 320px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px;

    @include tab {
      flex-direction: column;
    }
  }

  &__ttl {
    max-width: 200px;
    display: block;
    margin: 0 0 24px;
  }

  &__text {
    margin: 0 0 16px;
    line-height: 1.2;
  }

  &__tel {
    font-weight: bold;
    font-size: 18px;
  }

  &__contact {
    background-color: $main;
    color: #fff;
    padding: 10px;
    border-radius: 24px;
    width: 160px;
    text-align: center;
    display: block;
    margin: 0 auto 24px;
  }

  &__nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0 0 24px;

    @include tab {
      flex-direction: column;
      gap: 4px;
    }
  }

  &__contact {
    background-color: $main;
    color: #fff;
    padding: 10px;
    border-radius: 24px;
    width: 160px;
    text-align: center;
    display: block;
    margin: 0 auto 24px;
  }

  &__sns-wrap {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
  }

  &__sns {
    width: 24px;

    img {
      vertical-align: middle;
    }
  }

  &__bottom {
    font-size: 12px;
    text-align: center;
    padding: 12px;
    background-color: $main;
    color: #fff;
  }

  &__go-to-btn {
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 0px;

    &--osusume {
      bottom: 100px;
    }
  }
}